/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
header { 
	background: skyBlue url('../_images/nav2.png') repeat-x top left;
	border-bottom: 1px solid #A7A4A1;
	-webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, .25);
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, .25);	
	height: 40px;
	margin: 0;
	padding: 14px 0 0 0;
	position: relative;
	z-index: 888;
}

#logo {
	margin-top: 6px;	
}

nav {
	background-color: #383E4B;
	border-bottom: 1px solid #52648B;
	min-height: 400px;
	padding-bottom: 18px;
	position: absolute;
		top: -412px;
		left: 0;
	width: 100%;
	z-index: 999;
	/* animation */
	-webkit-transition-property: top, box-shadow;
	-webkit-transition-duration: 1s, 0.5s;
	-webkit-transition-timing-function: ease-out;
}

nav.show { 
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
	top: -1px; 
}

nav #menu-tab {
	background-color: #383E4B;
	border: 1px solid #52648B;
	border-top: 1px solid #383E4B;	
	border-bottom-right-radius: 5px;	
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	color: #FFF;
	padding: 12px 14px 11px 15px;
	position: absolute;
		bottom: -41px;
		right: 10px;
	text-shadow: 0px 1px 1px #52648B, 0px -1px 1px #000;
}

nav #menu-tab small {
	background: url(../_images/icon-menu.png) 42px 1px no-repeat;
	background-size: 15px 15px;
	opacity: 1;
	padding-right: 20px;
	/* animation */
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-out;	
	
}

nav.show #menu-tab small {
	opacity: 0.1;
}

nav #menu-close {
	background: url(../_images/icon-close.png) 0px 2px no-repeat;
	background-size: 15px 15px;
	color: #CCC;
	cursor: pointer;
	margin-left: -32px;
	opacity: 0;
	padding: 2px 0 0 22px;
	position: absolute;
		bottom: 12px;
		left: 50%;
	text-shadow: 0px 1px 1px #52648B, 0px -1px 1px #000;	
	/* animation */
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;	
	-webkit-transition-delay: 2s; 	
}

nav.show #menu-close {
	opacity: 1;
}

nav ul {
	margin: 5%;
	width: 90%;
}

nav ul#main {
	background: rgba(255, 255, 255, 0.1);
	background-color: #4D5A70;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

nav ul#main li {
	background: url(../_images/icon-list.png) 95% 50% no-repeat;
	background-size: 15px 15px;
	border-top: 1px solid rgba(255, 255, 255, 0.15);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
	/*letter-spacing: 0.08em;*/
	margin: 0;
	padding: 20px 10px;
	text-transform: uppercase;
}

nav ul#main li:first-child { 
	border-top:none;
	-webkit-box-shadow: inset 0px 10px 15px -10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 10px 15px -10px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 10px 15px -10px rgba(0, 0, 0, 0.5); 
}

nav ul#main li:last-child { border-bottom:none; }

nav ul#main li a, nav ul#main li a:visited {
	color: #FFF;
	text-decoration: none;
	text-shadow: 0px 1px 1px #52648B, 0px -1px 1px #1B212E;
}

nav ul#secondary li {
	background: url(../_images/icon-list.png) 95% 5% no-repeat;
	background-size: 15px 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	padding: 0 0 10px 7px;
}

nav ul#secondary li:last-child { border-bottom: none; }

nav ul#secondary li a {
	color: #CCC;
	text-decoration: none;
	text-shadow: 0px 1px 1px #52648B, 0px -1px 1px #1B212E;
}

.full-width {
	position: relative;
	z-index: 777;
}

.full-width h1 {
	color: white;
	position: absolute;
		top: 10px;
		left: 12px;	
	text-shadow: 0px 1px 2px #000, 0px 0px 13px rgba(0, 0, 0, 0.35);
}

#home-menu nav {
	min-height: auto;
	padding: 0;
	position: static;
}

#home-menu nav #menu-tab {
	display: none;
}

#home-menu nav #menu-close {
	display: none;
}

#home-menu nav ul#main { 
	border-radius: 0px; 
	margin: 0;
	width: 100%;
}

#home-menu nav ul#secondary { 
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.home-nav-button {
	background-image: url(../_images/icon-list-drk.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8BC1FE), to(#6AA1E0));
	background-position: 95% 50%, top left;
	background-repeat: no-repeat;
	background-size: 15px 15px, auto;
	border-top: 1px solid #CCC;
	-webkit-box-sizing: border-box;  
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:  left;
	font-family: 'Raleway', sans-serif;
	padding: 15px 3%;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.45), 0px -1px 1px rgba(0, 0, 0, 0.15);
	width: 50%;	
}

.home-nav-button:first-child {
	border-right: 1px solid rgba(255, 255, 255, 0.5); 
	padding-right: 4%;
}

.home-nav-button p { 
	font-size: 1.3em;
	line-height: 1em;
	margin: 0;
}

.home-nav-button a { 
	color: #383E4B;
	text-decoration: none;
}

footer { background: #A0DFF8 url('../_images/double_lined.png') repeat; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; min-height: 95px; padding-top: 15px; }

footer img { float: left; margin-right: 8px; }

footer p#copyright { font-size: 0.5em; margin: 15px 0; text-align: center; }



/* Buttons */

.button, a.button {
	color: #FFF;
	font-size: 20px;
	margin: 0 3.5%;
	padding: 10px 5px;
	text-align: center;
	text-shadow: 0 1px rgba(246, 255, 0, 0.25), 0 -1px rgba(0, 0, 0, 0.35);
	width: 90%;
}

#home-header .button, #home-header a.button {
	position: absolute;
		bottom: 15px;
}

.button small, a.button small {
	color: #520;
	font-size: 60%;
}

.button.half, a.button.half {
	font-size: 80%;
	margin: 0;
	bottom: -38px;	
}

.sunny {
border: 1px solid #D97E09;
-moz-box-shadow:inset 0px 1px 0px 0px #f6ff00;
-webkit-box-shadow:inset 0px 1px 0px 0px #f6ff00;
box-shadow:inset 0px 1px 0px 0px #f6ff00;
background: #fdc500; /* Old browsers */
background: -moz-linear-gradient(top, #fdc500 0%, #ff6b01 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdc500), color-stop(100%,#ff6b01)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fdc500 0%,#ff6b01 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fdc500 0%,#ff6b01 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #fdc500 0%,#ff6b01 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc500', endColorstr='#ff6b01',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #fdc500 0%,#ff6b01 100%); /* W3C */
}

.sunny:hover {
background: #fddc00; /* Old browsers */
background: -moz-linear-gradient(top, #fddc00 0%, #ff6e01 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fddc00), color-stop(100%,#ff6e01)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fddc00 0%,#ff6e01 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fddc00 0%,#ff6e01 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #fddc00 0%,#ff6e01 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fddc00', endColorstr='#ff6e01',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #fddc00 0%,#ff6e01 100%); /* W3C */
}

.sunny:active {
	background: #fdc300;
}

.container img {
	max-width: 300px;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
	
	/* Landscape styles */
	@media screen and (orientation:landscape) {
	 nav { top: -433px; }
	 nav #menu-close { right: 48px; }
	 footer p#copyright { font-size: 0.4em; }
	 .container img { max-width: 420px; }
	 
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/